<Section class="section">
  <div class="nav-container">
    <a class="logo-link" href="/">
      <img src="/images/logo-light@2x.png" height="100" />
      <span class="header-hidden">Navigate back to the homepage</span>
    </a>
    <div class="nav-controls">
      <a class="button button-border" href="https://www.eldrmedia.com/">Back to Portfolio</a>
    </div>
</div>
</Section>

{{ $script := resources.Get "js/toggleLogos.js" }}
<script src="{{ $script.RelPermalink }}"></script>

{{ $script := resources.Get "js/toggleColors.js" }}
<script src="{{ $script.RelPermalink }}"></script>

{{ $script := resources.Get "js/copyUrl.js" }}
<script src="{{ $script.RelPermalink }}"></script>